<form method="POST" action="/sendemail">
  <label>From:
    <input
      type="text"
      name="sender"
      placeholder="name">
  </label>

  <label>To:
    <input
      type="text"
      name="receiver"
      placeholder="name">
  </label>

  <label>Message:
    <textarea 
      name="message"
      placeholder="Type your message here"> 
    </textarea>
  </label>

  <input type="submit">
</form>