<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/sitewide.css">
  </head>
  <body>
    <header>
        <h1>
          Kitten Training
        </h1>
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
    </header>

    <%= yield %>

    <footer>
      <ul>
        <li>
          Kitty Training 2014
        </li>
      </ul>
    </footer>
  </body>
</html>